body {
  background-image: url("file:///Users/youssef_amer/Desktop/rutgers/Youssefamer12.github.io/assets/images/crossline-dots.png");
  align-content: center;
}

header {
    text-align: right;
    color: #777777;
    background-color: #ffffff;
    font-size: 12px;
    width: 960px;
}

h1 {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: 28px;
    width: 210px;
    }

h2 {
    text-align: left;
    color: #4aaaa5;
    background-color: #ffffff;
    margin-left: 40px;
    width: 960px;
}

section {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    background: #ffffff;
    width: 960px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #777777;
    background: #ffffff;
    float: right;
}



#about-me,
#contact,
#bio-image,
#portfolio {
    float: left;
}

div.portfolio {
    margin: 5px;
    border: 1px solid #777;
    float: left;
    width: 450px;
    height: 401px;
  }
  
  div.portfolio:hover {
    border: 1px solid #777;
  }
  
  div.portfolio img {
    width: 100%;
    height: 86%;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: #ffffff;
    background: #4aaaa5;
  }